<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <connectionStrings>
    <!-- Sample SQL Server LocalDB connection string for college submission if database is connected -->
    <add name="ShopNestDB" 
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ShopNestDB.mdf;Integrated Security=True" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- Setting UnobtrusiveValidationMode to None enables built-in ASP.NET client validation without external jQuery bundle requirements -->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <customErrors mode="Off" />
    
    <!-- Session state configured for in-memory shopping cart -->
    <sessionState mode="InProc" timeout="60" />
    
    <pages enableEventValidation="false">
      <namespaces>
        <add namespace="System" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Linq" />
        <add namespace="ShopNest" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Home.aspx" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
